{% extends "site_base.html" %}
{% load staticfiles %}

{% block head_title %}Test List Instances by Visible To Group{% endblock %}

{% block body %}
<div class="row-fluid">
    <div class="span12">
        <h2>Unreviewed QA By Visible to Group</h2>
    </div>
</div>
<div class="row-fluid">
    <div class="span12">
        <em>Choose a group below to list unreviewed test list instances</em>
    </div>
</div>
<div class="row-fluid row-spacer">
    <div class="row-fluid row-spacer">
        <div class="span12">
            <h4>Your Groups</h4>
            <div class="btn-group">
                {% for g in groups %}
                    {% if g in user.groups.all %}
                        <button class="btn"><a href="{% url 'unreviewed_by_group' group=g.id %}">{{g}}</a></button>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
    {% if perms.qa.can_review_non_visible_tli %}
        <div class="row-fluid row-spacer">
            <div class="span12">
                <h4>Other Groups</h4>
                <div class="btn-group">
                    {% for g in groups %}
                        {% if g not in user.groups.all %}
                            <button class="btn"><a href="{% url 'unreviewed_by_group' group=g.id %}">{{g}}</a></button>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endif %}
</div>
<script type="text/javascript">
    $(".btn").click(function(){
        window.location = $(this).find("a").attr("href");
    });
</script>

{% endblock %}