{% extends "site_base.html" %}
{% load staticfiles %}

{% block head_title %}Choose Unit{% endblock %}

{% block body %}

    <div class="row-fluid">
        <div class="span12">
            <h2>Choose a Unit to Perform QA On</h3>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span12">
            Click a button to perform QA for one of the units below.
        </div>
    </div>

    {% for unit_type, units in unit_types%}

        <div class="row-fluid row-spacer">
            <div class="span12">

                <h4 class="header-spacer">{{unit_type}}</h4>
                {% for unit in units %}

                    {% if not perms.qa.can_choose_frequency %}
                            <a class="btn" href="{% url "qa_by_unit" unit_number=unit.unit__number %}">{{unit.unit__name}}</a>
                    {% else %}
                        <div class="btn-group" style="float:left">
                            <button class="btn top-level"><a href="{% url "qa_by_unit" unit_number=unit.unit__number %}">{{unit.unit__name}}</a></button>
                            <button class="btn dropdown-toggle" data-toggle="dropdown">
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                {% for freq in QA_FREQUENCIES %}
                                <li>
                                    <a href="{% url "qa_by_frequency_unit" frequency=freq.0 unit_number=unit.unit__number %}">{{unit.unit__name}} &mdash; {{freq.1}}</a>
                                </li>
                                {% endfor %}
                                <li>
                                    <a href="{% url "qa_by_frequency_unit" frequency="ad-hoc" unit_number=unit.unit__number %}">{{unit.unit__name}} &mdash; <em>Ad-Hoc</em></a>
                                </li>
                            </ul>
                        </div>
                    {% endif %}

                {% endfor %}
            </div>
        </div>

    {% endfor %}

    <script type="text/javascript">
        $(".btn.top-level").click(function(){
            window.location = $(this).find("a").first().attr("href");
        });
    </script>

{% endblock %}

